h2{
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 32px;
    color:rgb(29, 10, 63);
}
.cpf li:nth-child(odd){
    background-color: red;
    display: inline-block;

}
.cpf li{
    list-style: none;
    padding: 10px;
    border-radius: 20px;
}
label{
    display: block;
    font-family: monospace;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
input{
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    font-size: 1em;
    box-sizing: border-box;
}
input.erro{
    border-color: red;
    color: red;
    box-shadow: 0px 1px 3px red;
}
input.valido{
    border-color: green;
    color: green;
    box-shadow: 0px 1px 3px green;
}
input::placeholder{
    color:rgba(0,0,0,.2);
}
.documento{
    max-width: 690px;
    margin: 0 auto;
   box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.253);
    padding: 50px;
    border-radius: 4px;
}